<h2>Hello {{vm.message}}</h2>
<section class="c-details">
    <header class="c-detail__header">
        <img ng-src="https://image.tmdb.org/t/p/w185/{{vm.contentDetails.poster_path}}" alt="">
        <div class="c-detail__header__text">
            <h1 class="c-detail__title"> {{vm.contentTitle}} ({{vm.type==="serie"? vm.contentDetails.first_air_date :vm.contentDetails.release_date |
                date:'yyyy' }})</h1>
            <p ng-if="vm.type === 'serie'"> Status: {{vm.contentDetails.in_production === true? "Still running" : "Ended"}}</p>
            <p>
                <a ng-href="{{vm.contentDetails.homepage}}">Official website : {{vm.contentDetails.homepage}}</a>
            </p>
            <p>{{vm.contentDetails.overview}}</p>
            <pannel></pannel>
        </div>
    </header>
    <div class="c-cast">
        <h3>Main Character</h3>
        <ul class="c-cast__main">
            <li ng-repeat=" character in vm.mainCharacters">
                <a href="" class="c-thumbnail-wrap">
                    <article class="c-thumbnail--people">
                        <img ng-src="https://image.tmdb.org/t/p/w92{{character.profile_path}}" alt="">
                        <p class="c-people__name c-people__name--character">
                            {{character.character}}</p>
                        <p class="c-people__name c-people__name--people">({{character.name}})</p>
                    </article>
                </a>
            </li>
        </ul>
        <div ng-if="vm.secondCharacters !=0">
            <h4>Second charactors</h4>
            <ul class="c-cast__list">
                <li class="c-cast__list__item" ng-repeat="character in vm.secondCharacters">
                    <p class="c-people__name--text-only">{{character.character}}</p>
                    <a href="" class="c-people__name--text-only">{{character.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div>
        <h3>Bande annonce</h3>
        <div class="video-container" controls ng-repeat="video in model.contentDetails.videos.results | filter:{name:'Official Trailer'}" ng-bind-html=youtubeIframe('{{video.key}}')>

        </div>
    </div> -->
</section>

<!-- <iframe type="video/mp4" width="640" height="385" data-ng-src="{{'https//www.youtube.com/embed/'+video.key}}" frameborder="0"></iframe> -->
<!-- <source ng-src=https://www.youtube.com/watch?v={{video.key}} > -->