<header class="c-header">
    <h2 class="c-logo" ui-sref="home">HaveYouSin?</h2>
    <form class="c-form">
        <div class="input-field c-wrap-field--search">
            <input type="search" ng-model='vm.query' ng-change='vm.search()' ng-model-options='{ debounce: 500 }' class="c-field" name='search'
                placeholder="Search a movie, a serie, an actor" />
                <i class="fa fa-window-close c-close" ng-if="vm.query.length>0" ng-click="vm.query = '' " aria-hidden="true"></i>
            <div ng-show="vm.query" class="c-results-wrap">
                <ul class="c-results">
                    <li>{{vm.query}}</li>
                    <li class="c-result-wrap" ng-repeat="result in vm.results ">
                        <a href="#/details/{{result.typeContent}}/{{result.id}}/{{result.title}}" class="c-result">
                            <i class="o-icon--white fa fa-{{result.icon}}" aria-hidden="true"></i>
                            <p class="c-result__info">{{result.title}}</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </form>
</header>