    <div class="c-connect-wrap" >
    <h3 ng-if="connectionCtrl.isUserConnected === false">How to connect?</h3>

    <ul class="c-items--connexion" ng-if="connectionCtrl.isUserConnected === false">
        <li ng-if=" connectionCtrl.accessResponse.success !== true" class="c-item--connexion">
            <p class="c-item__message">1rst : Connect to The movie database website (opened in a new tab of your browser).
            </p>
            <a ng-click="connectionCtrl.createAccount()"  target="_blank" class="ng-class:connectionCtrl.messageButtonConnectTmdbClass">{{connectionCtrl.messageButtonConnectTmdb}}</a>
        </li>
        <li ng-if="connectionCtrl.temporaryTokenStatus===true && connectionCtrl.accessResponse.success !== true" class="c-item--connexion">
            <p class="c-item__message">2nd : Click to connect to HaveYouSin</p>
            <a ng-click="connectionCtrl.confirmCreation()"  class="btn waves-effect waves-light c-button--connect-steps" href="">{{connectionCtrl.messageButtonConnect}}</a>
        </li>
    </ul>
    <div class="c-connect-wrap" ng-if="connectionCtrl.isUserConnected === true">
        <p>You're now connected! And ready to Enjoy the app!</p>
        <a class="btn waves-effect waves-light c-button--connect" ui-sref="root.home">Go to home</a>
        <presentation-app class="c-presentation"></presentation-app>
        <!-- <button ng-click = "connectionCtrl.listInStorage()" >desespoir</button> -->
    </div>
</div>

<div ng-if="connectionCtrl.isUserConnected === true && $rootScope.initializedLists !== true" class="c-item--connexion">
        <p class="c-item__message"> It seems your lists are not all initialized : One click and you're ready :)!</p>
        <a ng-click="connectionCtrl.storeListInStorage()" class="btn waves-effect waves-light c-button--connect-steps">Click to initialize HaveYouSin!</a>
</div>