/***Presentation**/
.c-presentation {
    background-color: rgb(16, 16, 16);
    color: #777777;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.c-presentation p {
    margin: .25rem 0; 
    text-align: center;
}
.c-presentation-item--hilight {
    font-weight: bold; 
    color: #debb00;
}
.c-presentation__item {
    margin-bottom: 1rem;
}

.c-presentation .c-card__icon {
    margin-right: 1rem;
}
/**connect**/

.c-connect-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

.c-items--connexion {
    width: 90%
}

.c-item--connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.c-item__message {
    align-self: flex-start;
}

.c-button--connect,
.c-button--connect-steps {
    width: 80%;
    font-size: .68rem;
    font-weight: bold;
    background-color: rgb(255, 215, 0);
    color: #545654;
    padding: 0;
}

.c-button--disconnect {
    background-color: #e53935;
}

.c-button--connect:not(first-of-type) {
    margin-right: 1rem;
}

.c-button--connect:hover,
.c-button--connected {
    background-color: #00bfa5;
    color: #FFE;
}


/**header**/

.c-header {
    background-color: #191919;
    width: 100%;
    color: grey;
}

.c-header__connect {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.c-header__inner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    color: grey;    
}

.c-logo {
    color: #e53935;
    display: flex;
    justify-content: center;
}

.c-logo--presentation {
 font-size: 2rem;
}
/**search**/

/* .c-form {
    display: flex;
    align-items: center;
    width: 100%;
} */


.c-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}


.c-wrap-field--search {
    position: relative;
    display: flex;
    align-items: center;
    height: 2rem;
    width: 100%;
    justify-content: flex-end;
}

.c-wrap-field--search:after {
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    color: #CCC;
    font-size: 1.5rem;
    bottom: 0;
    right: 0;
}

input[type=search].c-field {
    margin: 0;
    height: 100%;
    position: relative;
    padding-left: 2rem;
}

.c-close {
    display: flex;
    height: 2rem;
    align-items: center;
    position: absolute;
    left: 0rem;
    bottom: 0;
    padding: .5rem;
}

.c-results-wrap {
    position: absolute;
    top: 2.1rem;
    left: 0;
    right: 0;
    background: rgba(10, 12, 10, 0.97);
    height: auto;
    border: 1px solid rgba(255, 215, 0, .2);
    z-index: 100;
}

ul.c-results {
    padding: 0 .5rem;
}

.c-result-wrap {
    display: flex;
}

.c-result {
    display: flex;
}

.c-result__info {
    margin: 0 .25rem;
}


/**nav**/

.c-nav {
    background-color: #545654;
    display: flex;
    justify-content: center;
}

.c-nav__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.c-nav__item {
    white-space: nowrap;
    height: 100%;
}

.c-nav__item--active {
    color: #ffd700;
    font-weight: bold;
}


/**Main**/

.c-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex: 1;
    width: 100%;
}


/**footer**/

.c-footer {
    display: flex;
    justify-content: center;
    background-color: #545654;
    height: 5rem;
    width: 100%;
}


/**section**/

.c-section-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    padding-bottom: 2rem;
    border-bottom: 1px solid #EED;
}

.c-section__title--home {
    color: #FFE;
    font-size: 1.5rem;
}

card-content,
.card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


/**card**/

.c-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #EEE;
    width: 12rem;
    min-height: 18.6rem;
    background: grey;
    z-index: 1;
}

.c-card:before {
    content: 'no image available';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.c-card__link {
    color: #EEE;
}

.c-card__header {
    background-color: #111;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.c-card__header--delete {
    background-color: #212121;
    justify-content: flex-end;
    min-height: 1.5rem;
}
.c-card__link--delete:hover .c-card__icon--delete {
    color:#ffd700;
    font-size: 1.15rem
} 
.c-card__link--delete {
    width: 2rem;
    display: flex;
    justify-content: flex-end;
}
.c-card__icon--delete {
    color:grey;
    font-size: 1rem;
    margin-right: .15rem;
}


.c-card__title,
.c-card__date {
    margin: .05rem;
    font-size: .9rem;
    font-weight: bold;
}

.c-card__image {
    max-width: 100%;
    z-index: 4;
}

.c-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 2.5rem;
    padding: 0 .25rem;
    background-color: #EEE;
    /*#545653*/
}

.c-card__icon {
    font-size: 1.25rem;
}

.c-card__icon--default {
    color: grey;
}




.c-pannel {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.c-pannel--details {
    width: 16rem;
    display: flex;
}

.c-card__pannel-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.c-card__icon--type {
    font-size: 1.5rem;
    font-weight: bold;
}

.c-card__icon--to-watch {
    color: grey;
}

.c-card__icon--done {
    color: #00bfa5;
}
.c-icon--search {
    color: #1b7ab1;
}
.c-card__icon--favorite {
    color: #e53935;
}

.o-icon--white {
    color: #FFE;
}

.o-icon--black {
    color: #001;
}


/**Details**/

.c-details {
    width: 100%;
    padding: 0;
    color: #C0C0C0;
}

.c-detail__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-detail__header__text {
    margin-left: 2rem;
}

.c-detail__title {
    margin: 0;
    font-size: 2rem;
}


/**cast**/

.c-cast {}

.c-cast-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.c-cast__list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.c-cast__list__item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: .5rem;
}

.c-cast-main__item {
    margin-bottom: 1rem;
    margin-right: 0;
}

.c-cast__list__item>* {
    margin-right: 0.6rem;
}

.c-people__name--text-only,
.c-people__name--text-only {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.c-people__cast--date {
    width: 10%
}


/**people**/

.c-thumbnail-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 9rem;
    height: auto;
    min-height: 15rem;
    background-color: lightblue;
    border: 1px solid black;
}

.c-thumbnail--people {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.c-people__name {
    margin: 0;
}

.c-people__name--character {
    color: #454643;
    font-size: .9rem;
    font-weight: bold;
}

.c-people__name--people {
    font-size: .8rem;
    color: #142842;
}


/**Media queries**/

@media screen and (min-width: 640px) {
    /***Presentation**/
.c-presentation {
    width: 60%;
    margin: 1rem;
}
    /**connect**/
    .c-connect-wrap {
        justify-content: flex-end;
    }
    .c-items--connexion {
        width: 70%;
    }
    .c-button--connect-steps {
        width: 90%;
        font-size: 1rem;
    }
    .c-button--connect {
        width: 20%;
        margin-bottom: 1rem;
    }
    .c-button--connect-steps,
    .c-button--connect {
        font-size: 1rem;
    }
    /*header*/
    .c-header__connect {
        justify-content: flex-end;
        padding: 0 1rem;        
        
    }
    .c-header__inner {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;        
        
    }



    .c-form {
        width: 40%;
    }
    /*nav*/
    .c-nav__items {
        width: 100%;
    }
    /*detail*/
    .c-cast-main {
        justify-content: flex-start;
    }
    .c-detail__header {
        flex-direction: row;
    }
    .c-cast__list__item>* {
        margin-right: 1rem;
        margin-right: 0.6rem;
    }
    .c-cast-main__item {
        margin-bottom: .25rem;
        margin-right: .25rem;
    }
    .c-details {
        padding: 0 1rem;
    }
    /**Pannel**/
    .c-pannel--details {
        width: 15rem;
    }
    /**card**/
    .c-card {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .c-presentation {
        width: 55%;
    }
    .c-items--connexion {
        width: 50%;
    }
    .c-form {
        width: 30%;
    }
    .c-nav__items {
        width: 50%;
    }
}