/**Main**/

.c-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex: 1;
    width: 100%;
}


/**section**/

.c-section-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    padding-bottom: 2rem;
    border-bottom: 1px solid #EED;
}

.c-section__pannel {
    display: flex;
    width: 90%;
    justify-content: flex-end;
}

.c-pannel--calendar {
    width: 30%;
    display: flex;
    justify-content: space-around
}

.c-section-wrap--reverse {
    flex-direction: column-reverse!important;
}

.c-section__title,
.c-section__title {
    color: #FFE;
    font-size: 1.5rem;
}


/**list**/

.c-list__title {
    color: #FFE;
    text-transform: capitalize;
    font-size: .9rem;
}


/**footer**/

.c-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #545654;
    height: 5rem;
    width: 100%;
}


/**Media queries**/

@media screen and (min-width: 640px) {
    /**list**/
    .c-list__title {
        color: #FFE;
        text-transform: capitalize;
        font-size: 2rem;
    }
    .c-section-wrap {
        width: 100%;
        padding: 1rem 2rem 1rem;
    }
    /*detail*/
    .c-cast-main {
        justify-content: flex-start;
    }
    .c-detail__header {
        flex-direction: row;
    }
    .c-cast__list__item>* {
        margin-right: 1rem;
        margin-right: 0.6rem;
    }
    .c-cast-main__item {
        margin-bottom: .25rem;
        margin-right: .25rem;
    }
    .c-details {
        padding: 0 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .c-pannel--calendar {
        width: 10%;
    }
}