* {
    box-sizing: border-box;
}

html {
    max-height: 100%;   
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh; 
    background-color: #212121;
    
}